@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. RESET STANDAR */
body {
  @apply antialiased text-slate-900 bg-slate-50;
  margin: 0;
  padding: 0;
}

/* 2. CUSTOM SCROLLBAR (Biar ala-ala Aplikasi Mahal) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 3. CORE PRINT LOGIC (Paling Penting!) */
@media print {
  /* Sembunyikan semua elemen UI Kasir */
  body * {
    visibility: hidden;
  }

  /* Munculkan hanya area struk */
  #print-area, #print-area * {
    visibility: visible;
  }

  /* Atur posisi struk ke pojok kiri atas kertas */
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    background-color: white !important;
  }

  /* Paksa teks jadi hitam pekat & font standar printer */
  #print-area span, 
  #print-area p, 
  #print-area h2 {
    color: black !important;
  }

  /* Hilangkan tombol aksi di dalam struk saat diprint */
  .print\:hidden {
    display: none !important;
  }

  /* Hilangkan garis amber/kuning di atas struk saat di kertas */
  .print\:border-none {
    border-top: none !important;
  }
}

/* 4. TYPOGRAPHY KASIR */
h1, h2, button {
  @apply tracking-tighter;
}
